<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar>
        <button mat-icon-button class="snav-button" (click)="snav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Thiếu nhi Dĩ An</span>
        <span class="example-spacer"></span>
        <span>{{userName}}</span>
      </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                  [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
          <!-- All -->
            <a mat-list-item routerLink="student-list">Quản lý lớp</a>
            <a mat-list-item routerLink="attendance">Điểm danh</a>
            <a mat-list-item routerLink="score">Điểm</a>
            <!-- management -->
            <a mat-list-item routerLink="student-list" *ngIf="profile.daskboard">Thống kê</a>
            <a mat-list-item routerLink="catechist-list" *ngIf="profile.catechistManagement">Danh sách GLV</a>
            <a mat-list-item routerLink="class-list" *ngIf="profile.classManagement">Danh sách lớp</a>
            <a mat-list-item routerLink="registration-section" *ngIf="profile.registationSectionMangement">Phiên đăng ký</a>
            <a mat-list-item routerLink="registration-processing" *ngIf="profile.classAssign">Xếp lớp</a>
            <a mat-list-item routerLink="profile-list" *ngIf="profile.profile">Quyền</a>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
