/* student-list.component.css */

.student-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .student-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    width: 100%;
    max-width: 100%; /* Chiều rộng tối đa có thể điều chỉnh */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 0 auto; /* Căn giữa các thẻ */
    overflow: auto;
  }
  
  .student-info {
    display: flex;
    flex-wrap: wrap; /* Cho phép thông tin chạy xuống dòng nếu cần */
    gap: 16px;
  }
  
  .student-field {
    flex: 1 1 200px; /* Điều chỉnh kích thước và cho phép co giãn */
    min-width: 150px; /* Đảm bảo mỗi trường có chiều rộng tối thiểu */
  }
  
  .student-field strong {
    display: block;
    margin-bottom: 4px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  mat-sidenav-container {
    height: 100vh;
  }
  
  .content {
    padding: 16px;
  }
  
  mat-card {
    margin: 16px;
  }
  
  .add-student-button {
    border: none;
    background: none;
  }